.selectBtn {
    background-color: #f0eff5;
    width: 95px;
    border-radius: 25px;
    padding: 5px 0;
    margin-bottom: 10px;
}

.selectBtn.active {
    background-color: #fc0;
}

.label {
    font-size: 0.9375em;
}

[dir="ltr"] .label {
    font-size: 0.8125em;
}

.label.bold {
    font-weight: 700;
}

.sideLabel {
    font-size: 0.8125em;
    padding-right: 5px;
}

[dir="ltr"] .sideLabel {
    font-size: 0.6875em;
}

[dir="ltr"] .sideLabel {
    padding-right: 0;
    padding-left: 5px;
}