.btn {
    padding: 10px 15px;
    border-radius: 25px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    transition: all .3s;
    color: #000;
    width: 100%;

}

.primary {
    background-color: #fc0;
}

.primary:hover {
    background-color: #ffd633;
}