@font-face {
  font-family: "IranSans";
  src: url(../fonts/iransans/IRANSansWeb.eot);
  src: url(../fonts/iransans/IRANSansWeb.eot?#iefix) format("embedded-opentype"), url(../fonts/iransans/IRANSansWeb.woff) format("woff"), url(../fonts/iransans/IRANSansWeb.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fanum";
  src: url(../fonts/iransans_fanum/IRANSansWebFaNum.eot);
  src: url(../fonts/iransans_fanum/IRANSansWebFaNum.eot?#iefix) format("embedded-opentype"), url(../fonts/iransans_fanum/IRANSansWebFaNum.woff) format("woff"), url(../fonts/iransans_fanum/IRANSansWebFaNum.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: IranSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #efeff4 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
  border: none;
  background-color: transparent
}

button:disabled {
  cursor: not-allowed;
}

input.ltr {
  direction: ltr;
}

.mt-20 {
  margin-top: 20px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-35 {
  margin-bottom: 35px;
}

.center {
  text-align: center;
}

.number {
  font-family: fanum;
}

[dir="ltr"] .number {
  font-family: Arial;
}